<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>View Restoran</title>

        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>

        <div th:if="${resto != null}">
            <h2>Informasi Restoran</h2>
            <h3 th:text="'ID Restoran: ' + ${resto.idRestoran}"></h3>
            <h3 th:text="'Nama Restoran: ' + ${resto.nama}"></h3>
            <h3 th:text="'Alamat Restoran: ' + ${resto.alamat}"></h3>
            <h3 th:text="'Nomor Telp. Restoran: ' + ${resto.nomorTelepon}"></h3>

            <td>
                <a th:href="@{/restoran/change/{idRestoran}(idRestoran=${resto.idRestoran})}">Change Data Restoran</a>
            </td>

            <div th:if="${menuList.isEmpty()}">
                <td>
                    <form th:action="@{/restoran/delete/{idRestoran}(idRestoran=${resto.idRestoran})}" method="POST">
                        <button type="submit">Hapus Restoran</button>
                    </form>
                </td>
            </div>

            <div th:unless="${menuList.isEmpty()}">
                <h2>Daftar Menu:</h2>

                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Id Menu</th>
                            <th>Nama</th>
                            <th>Harga</th>
                            <th>Deskripsi</th>
                            <th>Durasi Penyajian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="menu, iterationStatus: ${menuList}"
                            th:style="${iterationStatus.even} ? 'color:blue'">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${menu.id}"></td>
                            <td th:text="${menu.nama}"></td>
                            <td th:text="${menu.harga} >= 10000 ? 'Di atas 10K' : 'Di bawah 10K'"></td>
                            <td th:text="${menu.deskripsi}"></td>
                            <td th:text="${menu.durasiMasak}"></td>
                            <td>
                                <a th:href="@{/menu/change/{idMenu}(idMenu=${menu.id})}">Change Menu Data</a>
                            </td>
                            <td>
                                <form th:action="@{/menu/delete/{menuId}(menuId=${menu.id})}" method="POST">
                                    <button type="submit">Hapus Menu</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <td>
                    <a th:href="@{/menu/add/{idRestoran}(idRestoran=${resto.idRestoran})}">Add Menu</a>
                </td>
            </div>
        </div>
        <div th:unless="${resto != null}">
            <h2>Restoran tidak ditemukan</h2>
        </div>
    </body>
</html>